{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    body { 
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;
    }
    h1 {
        text-align: center;
    }
    form {
        width: 300px;
        margin: 0 auto;
    }
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .register-card{
        width: 300px;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="main-container">
    <div class="register-card">
        <form method="post">
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Sign In!</h1>
            <label for="username">Username</label>
            <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
            <label for="password">Password</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
             {% if error %}
                <div class="alert alert-danger" style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>
        <div class="mb-3">
                <a href="{{ path('app_register') }}">New User?</a>
        </div>
    </div>
</div>
{% endblock %}