{% extends 'base.html.twig' %}

{% block body %}
<style>
    body { 
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;
    }
    h1 {
        text-align: center;
    }
    form {
        width: 300px;
        margin: 0 auto;
    }
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .register-card{
        width: 300px;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style> 
    <div class='main-container'> 
        <div class='register-card'>
            <h1>Sign Up!</h1>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.password) }}
                <button type="submit">Register</button>
            {{ form_end(registrationForm) }}
            <div class="mb-3">
                <a href="{{ path('app_login') }}">Sign In?</a>
            </div>
        </div> 
    </div> 

    
{% endblock %}